<%- include('../partials/header.ejs') %>

  <h2>Edit <%= photo.title %></h2>

  <form method="POST" action="/photos/<%= photo.id %>?_method=PUT">
    <fieldset>
      <label for="title">Title:</label>
      <input 
        id="title" 
        type="text" 
        name="title" 
        placeholder="Enter new Photo title"
        value="<%= photo.title %>"
      />
    </fieldset> 
    <button>Update Photo</button>   
  </form>

<%- include('../partials/footer.ejs') %>