<%- include('../partials/header.ejs') %>

  <h2>Photographers</h2>

  <ul>
    <% users.forEach((user) => { %>
      <li>
        <div>
          <strong>
            <%= user.name %>
          </strong>
        </div>
        <div>
          <small><%= user.posted.toLocaleString() %></small>         
        </div>
        <div>
          (by: <%= user.name %>)
        </div>
      </li>
    <% }) %>
  </ul>

<%- include('../partials/footer.ejs') %> 