<%- include('../partials/header.ejs') %>


  <% if (photo.user.id === currentUser) { -%>
    <h2>Edit <i>
    <% if (photo.title) { -%>
      "<%= photo.title.toUpperCase() %>""
    <% } else { -%>
      "untitled"
    <% } -%>  
  </i>
</h2>

<form method="POST" action='/photos/<%= photo.id %>?_method=PUT'>
  <fieldset>
    <small>
      <div>
        <label for="title">Title:</label>
        <input 
          type="text" 
          name="title" 
          id="title" 
          <% if (photo.title) { -%>
            value="<%= photo.title %>"
          <% } else { -%>
            placeholder="Edit photo title"
          <% } -%>
        / >
      </div>
      <div>
        <label for="url">Image:</label>
        <input 
          type="text" 
          name="url" 
          id="url" 
          value="<%= photo.url %>"
          required 
        / >
      </div>
      <div>
        <div>
          <label for="description">Description:</label>
        </div>
        <div>
          <textarea id="description" name="description" placeholder="Edit photo description"><% if (photo.description) { -%><%= photo.description %>
            <% } -%>
          </textarea>
        </div>
      </div>
      <button>Edit Image</button>
    </small>
  </fieldset>
</form>

<%- include('../partials/footer.ejs') %>